<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf8" />
	<meta name="description" content="Oculus VR, Hacking, Aplicaciones Web" />
	<meta name="keywords" content="Ruby on Rails, Node js, Diseño, Realidad Virtual, Securidad, Hacking, Consultoria" />
	<title>Herabyte Technologies Development</title>
	<link rel="stylesheet" href="style/estilo.css">
</head>
<body>
	<header id="cabecera">
	 	<img src="images/herabytelogo6.png">

	</header>
	<div id="menu">
		<nav>
			<ul>
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Portafolio</a></li>
			<li><a href="#">Servicios</a>
				<ul>
					<li><a href="#">Virtual Reality</a></li>
					<li><a href="#">Seguridad Informatica</a></li>
					<li><a href="#">Aplicaciones Web</a></li>
				</ul>
			</li>
			<li><a href="#">Contáctanos</a></li>
    	</ul>
    	</nav>
	</div>

	<div id="contenido">
		<section id="seccion1">
			<article>
				<h1>Misión</h1>
				Herabyte Corporation te ofrece servicios en las nuevas tecnologías de desarrollo de software y asimismo en la consultoria de estas, como apartado especial, tenemos una alta experiencia en seguridad informatica por lo tanto tenemos el servicio de consultoria en esta informacion, Herabyte seguirá innovando de manera imponente para competir en el mercado tecnológico con la intención de crear e ir implementando un ecosistema más avanzado futuristicamente
			</article>
		</section>
		<aside id="columna">
			<blockquote>Elemento 1</blockquote>
			<blockquote>Elemento 2</blockquote>
		</aside>
		<footer id="pie">
			<figure id="logofooter"><img src="images/hbmini.png"></figure>
			<small>Derechos Reservados para &copy; Herabyte Corporation 2013- 2014</small>
		</footer>
	</div>


</body>
</html>